<% content_for :sidebar do %>
  <p class="important">Café restaurant Abyssinia</p>
  <p class="center">Place d'Armes 3</p>
  <p class="center">2000 Neuchâtel</p>
  <p class="center">Tél : 032 710 05 40</p>
  <br />
  <p>Nous acceptons les cartes suivante : Visa, MasterCard, Maestro, Postcard.</p>
  <img class="image_right image_sidebar" src="<%= asset_path "anniversaire_2.jpg" %>"></img>
<% end %>

<h2>Informations</h2>
<p>Le restaurant Abyssinia se trouve à la rue Place d'Armes 3 à Neuchâtel.</p>
<h2>Horaires</h2>
<table class="warning">
    <tr>
      <th rowspan="2">Lundi-Vendredi :</td>
      <td>11:30 - 14:30</td>
    </tr>
    <tr>
      <td>17:30 - 00:00</td>
    </tr>
    <tr>
      <th>Samedi :</td>
      <td>11:30 - 00:00</td>
    </tr>
    <tr>
      <th>Dimanche :</th>
      <td> Fermé</td>
    </tr>
</table>
